.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.010254;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.980469;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(255,255,0),0 0.015em rgb(255,255,0),0.015em 0 rgb(255,255,0),0 -0.015em  rgb(255,255,0);}
.sc1{text-shadow:-0.015em 0 rgb(255,255,255),0 0.015em rgb(255,255,255),0.015em 0 rgb(255,255,255),0 -0.015em  rgb(255,255,255);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(255,255,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(255,255,255);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-2612.599915px;}
._3{width:107.000244px;}
._2{width:126.799866px;}
._4{width:166.399902px;}
._5{width:352.599976px;}
._0{width:2298.600006px;}
.fc1{color:rgb(255,255,0);}
.fc0{color:rgb(255,255,255);}
.fs4{font-size:112.000000px;}
.fs2{font-size:117.400002px;}
.fs1{font-size:120.000000px;}
.fs3{font-size:128.000000px;}
.fs5{font-size:144.000000px;}
.fs0{font-size:216.000000px;}
.y11{bottom:-18.637497px;}
.y1a{bottom:-4.349991px;}
.y0{bottom:0.000000px;}
.y15{bottom:36.162506px;}
.yb{bottom:39.049988px;}
.y10{bottom:46.162506px;}
.y19{bottom:53.250008px;}
.y26{bottom:91.162506px;}
.y13{bottom:93.762482px;}
.y14{bottom:96.012482px;}
.y23{bottom:96.637478px;}
.ya{bottom:98.087490px;}
.y1d{bottom:108.487488px;}
.y18{bottom:110.850006px;}
.yf{bottom:118.250008px;}
.y9{bottom:143.187496px;}
.y22{bottom:154.687496px;}
.y29{bottom:158.049995px;}
.y1c{bottom:158.887497px;}
.y12{bottom:168.612488px;}
.y17{bottom:170.199989px;}
.ye{bottom:175.850006px;}
.y25{bottom:179.649994px;}
.y2{bottom:195.727694px;}
.y8{bottom:198.725004px;}
.y1b{bottom:209.287502px;}
.y20{bottom:212.737484px;}
.y28{bottom:215.649994px;}
.y16{bottom:227.799988px;}
.yd{bottom:229.449989px;}
.y24{bottom:232.900024px;}
.y7{bottom:242.837479px;}
.y1f{bottom:253.237503px;}
.y27{bottom:264.549988px;}
.y21{bottom:270.787487px;}
.y1{bottom:278.249733px;}
.yc{bottom:287.049988px;}
.y6{bottom:293.237484px;}
.y1e{bottom:303.637508px;}
.y5{bottom:352.114647px;}
.y4{bottom:390.514645px;}
.y3{bottom:491.879810px;}
.h5{height:92.750000px;}
.h3{height:98.654982px;}
.h2{height:100.839844px;}
.h6{height:106.000000px;}
.h4{height:107.562500px;}
.h7{height:119.250000px;}
.h1{height:181.511719px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xe{left:51.250000px;}
.x4{left:52.950012px;}
.x5{left:55.150024px;}
.x6{left:57.850006px;}
.xd{left:60.850006px;}
.xf{left:67.650024px;}
.x11{left:69.350006px;}
.x8{left:71.649986px;}
.x1{left:132.911621px;}
.x9{left:176.649994px;}
.xc{left:295.799988px;}
.x7{left:305.750000px;}
.x3{left:372.534485px;}
.x10{left:393.900024px;}
.xa{left:508.099976px;}
.x2{left:629.999962px;}
.xb{left:669.200012px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-3483.466553pt;}
._3{width:142.666992pt;}
._2{width:169.066488pt;}
._4{width:221.866536pt;}
._5{width:470.133301pt;}
._0{width:3064.800008pt;}
.fs4{font-size:149.333333pt;}
.fs2{font-size:156.533335pt;}
.fs1{font-size:160.000000pt;}
.fs3{font-size:170.666667pt;}
.fs5{font-size:192.000000pt;}
.fs0{font-size:288.000000pt;}
.y11{bottom:-24.849996pt;}
.y1a{bottom:-5.799988pt;}
.y0{bottom:0.000000pt;}
.y15{bottom:48.216675pt;}
.yb{bottom:52.066650pt;}
.y10{bottom:61.550008pt;}
.y19{bottom:71.000010pt;}
.y26{bottom:121.550008pt;}
.y13{bottom:125.016642pt;}
.y14{bottom:128.016642pt;}
.y23{bottom:128.849970pt;}
.ya{bottom:130.783320pt;}
.y1d{bottom:144.649984pt;}
.y18{bottom:147.800008pt;}
.yf{bottom:157.666677pt;}
.y9{bottom:190.916662pt;}
.y22{bottom:206.249995pt;}
.y29{bottom:210.733327pt;}
.y1c{bottom:211.849996pt;}
.y12{bottom:224.816650pt;}
.y17{bottom:226.933319pt;}
.ye{bottom:234.466675pt;}
.y25{bottom:239.533325pt;}
.y2{bottom:260.970258pt;}
.y8{bottom:264.966672pt;}
.y1b{bottom:279.050003pt;}
.y20{bottom:283.649979pt;}
.y28{bottom:287.533325pt;}
.y16{bottom:303.733317pt;}
.yd{bottom:305.933319pt;}
.y24{bottom:310.533366pt;}
.y7{bottom:323.783305pt;}
.y1f{bottom:337.650004pt;}
.y27{bottom:352.733317pt;}
.y21{bottom:361.049983pt;}
.y1{bottom:370.999644pt;}
.yc{bottom:382.733317pt;}
.y6{bottom:390.983312pt;}
.y1e{bottom:404.850011pt;}
.y5{bottom:469.486196pt;}
.y4{bottom:520.686193pt;}
.y3{bottom:655.839747pt;}
.h5{height:123.666667pt;}
.h3{height:131.539976pt;}
.h2{height:134.453125pt;}
.h6{height:141.333333pt;}
.h4{height:143.416667pt;}
.h7{height:159.000000pt;}
.h1{height:242.015625pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xe{left:68.333333pt;}
.x4{left:70.600016pt;}
.x5{left:73.533366pt;}
.x6{left:77.133341pt;}
.xd{left:81.133341pt;}
.xf{left:90.200033pt;}
.x11{left:92.466675pt;}
.x8{left:95.533315pt;}
.x1{left:177.215495pt;}
.x9{left:235.533325pt;}
.xc{left:394.399984pt;}
.x7{left:407.666667pt;}
.x3{left:496.712646pt;}
.x10{left:525.200033pt;}
.xa{left:677.466634pt;}
.x2{left:839.999949pt;}
.xb{left:892.266683pt;}
}
