.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.023926;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.976562;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.921875;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{width:1.046250px;}
._7{width:176.515594px;}
._8{width:207.049423px;}
._1{width:335.777239px;}
._5{width:346.160629px;}
._b{width:386.484227px;}
._c{width:403.764288px;}
._a{width:428.675921px;}
._9{width:445.956288px;}
._0{width:488.314941px;}
._4{width:511.546941px;}
._3{width:539.654641px;}
._2{width:567.802941px;}
.fc2{color:rgb(242,242,242);}
.fc1{color:rgb(255,255,0);}
.fc0{color:rgb(255,255,255);}
.fs6{font-size:72.000000px;}
.fs4{font-size:80.000000px;}
.fs2{font-size:96.000000px;}
.fsa{font-size:112.000000px;}
.fs1{font-size:117.400002px;}
.fs0{font-size:120.000000px;}
.fs5{font-size:128.000000px;}
.fs3{font-size:144.000000px;}
.fs8{font-size:160.000000px;}
.fs9{font-size:176.000000px;}
.fs7{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y3a{bottom:18.537506px;}
.y11{bottom:20.237518px;}
.y9{bottom:62.366482px;}
.y28{bottom:74.260994px;}
.y43{bottom:81.513134px;}
.y1e{bottom:82.666470px;}
.y53{bottom:89.014637px;}
.y45{bottom:91.860970px;}
.y44{bottom:108.883558px;}
.y13{bottom:112.216488px;}
.y17{bottom:118.464653px;}
.y27{bottom:129.433241px;}
.y7{bottom:137.866482px;}
.y10{bottom:151.589615px;}
.y12{bottom:151.609163px;}
.y16{bottom:153.533247px;}
.y30{bottom:168.910988px;}
.y26{bottom:170.283247px;}
.y41{bottom:183.613110px;}
.yf{bottom:187.134125px;}
.y6{bottom:191.516506px;}
.y4a{bottom:194.259155px;}
.y4e{bottom:194.359161px;}
.y46{bottom:194.360970px;}
.y1{bottom:195.727694px;}
.yb{bottom:199.789597px;}
.y42{bottom:210.983564px;}
.y25{bottom:211.133223px;}
.y39{bottom:216.766479px;}
.y49{bottom:218.259157px;}
.y4d{bottom:218.359163px;}
.y1d{bottom:231.521973px;}
.ya{bottom:235.334106px;}
.y3c{bottom:239.847111px;}
.y5{bottom:245.166500px;}
.y24{bottom:251.983229px;}
.y36{bottom:252.270142px;}
.ye{bottom:254.138733px;}
.y38{bottom:262.821976px;}
.y2c{bottom:267.716499px;}
.y1b{bottom:271.814636px;}
.y34{bottom:277.416496px;}
.y3b{bottom:283.087954px;}
.y1c{bottom:286.266476px;}
.y3f{bottom:286.563137px;}
.yd{bottom:290.138733px;}
.y4{bottom:292.711010px;}
.y23{bottom:292.833220px;}
.y47{bottom:295.660988px;}
.y35{bottom:302.214649px;}
.y52{bottom:303.059143px;}
.y50{bottom:305.659149px;}
.y1a{bottom:310.214645px;}
.y2b{bottom:311.868324px;}
.y37{bottom:313.759157px;}
.y40{bottom:313.933561px;}
.y3{bottom:321.511009px;}
.y33{bottom:321.568321px;}
.yc{bottom:326.138737px;}
.y51{bottom:327.059145px;}
.y4f{bottom:329.659151px;}
.y2f{bottom:333.683226px;}
.y22{bottom:333.683241px;}
.y15{bottom:335.864647px;}
.y19{bottom:346.710983px;}
.y2a{bottom:355.109161px;}
.y32{bottom:364.809158px;}
.y4c{bottom:369.759148px;}
.y14{bottom:370.933241px;}
.y21{bottom:374.533232px;}
.y8{bottom:385.871986px;}
.y3d{bottom:387.013134px;}
.y4b{bottom:393.759150px;}
.y48{bottom:401.010986px;}
.y18{bottom:401.414646px;}
.y2e{bottom:403.333225px;}
.y20{bottom:403.333233px;}
.y29{bottom:405.964657px;}
.y3e{bottom:414.383558px;}
.y31{bottom:415.664654px;}
.y2d{bottom:424.933226px;}
.y1f{bottom:424.933233px;}
.y2{bottom:491.879810px;}
.h8{height:59.062500px;}
.hb{height:60.222656px;}
.h9{height:61.488281px;}
.h6{height:68.320312px;}
.h4{height:80.296875px;}
.h3{height:81.984375px;}
.he{height:95.648438px;}
.h2{height:100.260060px;}
.h1{height:102.480469px;}
.h7{height:109.312500px;}
.h5{height:122.976562px;}
.hc{height:136.640625px;}
.hd{height:150.304688px;}
.ha{height:163.968750px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x20{left:18.149994px;}
.x1a{left:41.850006px;}
.x19{left:46.950012px;}
.xf{left:86.162373px;}
.x18{left:95.162373px;}
.x3{left:99.949997px;}
.x7{left:101.850006px;}
.x5{left:105.664848px;}
.x6{left:108.325001px;}
.x1b{left:127.599998px;}
.xd{left:138.650009px;}
.x1f{left:171.950027px;}
.x1e{left:179.283401px;}
.xe{left:227.684448px;}
.xb{left:230.084488px;}
.x10{left:247.291267px;}
.x4{left:280.939377px;}
.x24{left:290.799988px;}
.x8{left:299.934509px;}
.x9{left:305.550049px;}
.xc{left:319.099976px;}
.x11{left:345.424343px;}
.x2{left:372.534485px;}
.x25{left:378.734497px;}
.x12{left:390.424339px;}
.x1c{left:404.399963px;}
.x21{left:445.100006px;}
.x13{left:489.379162px;}
.x14{left:533.557381px;}
.x1d{left:543.853500px;}
.x22{left:553.850037px;}
.x1{left:617.966270px;}
.x15{left:632.512173px;}
.x23{left:660.150024px;}
.x16{left:676.690392px;}
.xa{left:781.850037px;}
.x17{left:801.823452px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{width:1.395000pt;}
._7{width:235.354126pt;}
._8{width:276.065898pt;}
._1{width:447.702985pt;}
._5{width:461.547506pt;}
._b{width:515.312302pt;}
._c{width:538.352383pt;}
._a{width:571.567895pt;}
._9{width:594.608383pt;}
._0{width:651.086589pt;}
._4{width:682.062589pt;}
._3{width:719.539522pt;}
._2{width:757.070589pt;}
.fs6{font-size:96.000000pt;}
.fs4{font-size:106.666667pt;}
.fs2{font-size:128.000000pt;}
.fsa{font-size:149.333333pt;}
.fs1{font-size:156.533335pt;}
.fs0{font-size:160.000000pt;}
.fs5{font-size:170.666667pt;}
.fs3{font-size:192.000000pt;}
.fs8{font-size:213.333333pt;}
.fs9{font-size:234.666667pt;}
.fs7{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y3a{bottom:24.716675pt;}
.y11{bottom:26.983358pt;}
.y9{bottom:83.155309pt;}
.y28{bottom:99.014659pt;}
.y43{bottom:108.684179pt;}
.y1e{bottom:110.221959pt;}
.y53{bottom:118.686183pt;}
.y45{bottom:122.481293pt;}
.y44{bottom:145.178078pt;}
.y13{bottom:149.621984pt;}
.y17{bottom:157.952871pt;}
.y27{bottom:172.577655pt;}
.y7{bottom:183.821976pt;}
.y10{bottom:202.119486pt;}
.y12{bottom:202.145551pt;}
.y16{bottom:204.710996pt;}
.y30{bottom:225.214650pt;}
.y26{bottom:227.044329pt;}
.y41{bottom:244.817479pt;}
.yf{bottom:249.512166pt;}
.y6{bottom:255.355342pt;}
.y4a{bottom:259.012207pt;}
.y4e{bottom:259.145549pt;}
.y46{bottom:259.147959pt;}
.y1{bottom:260.970258pt;}
.yb{bottom:266.386129pt;}
.y42{bottom:281.311419pt;}
.y25{bottom:281.510963pt;}
.y39{bottom:289.021973pt;}
.y49{bottom:291.012210pt;}
.y4d{bottom:291.145551pt;}
.y1d{bottom:308.695964pt;}
.ya{bottom:313.778809pt;}
.y3c{bottom:319.796148pt;}
.y5{bottom:326.888667pt;}
.y24{bottom:335.977638pt;}
.y36{bottom:336.360189pt;}
.ye{bottom:338.851644pt;}
.y38{bottom:350.429301pt;}
.y2c{bottom:356.955332pt;}
.y1b{bottom:362.419515pt;}
.y34{bottom:369.888662pt;}
.y3b{bottom:377.450605pt;}
.y1c{bottom:381.688634pt;}
.y3f{bottom:382.084183pt;}
.yd{bottom:386.851644pt;}
.y4{bottom:390.281347pt;}
.y23{bottom:390.444293pt;}
.y47{bottom:394.214650pt;}
.y35{bottom:402.952866pt;}
.y52{bottom:404.078857pt;}
.y50{bottom:407.545532pt;}
.y1a{bottom:413.619527pt;}
.y2b{bottom:415.824432pt;}
.y37{bottom:418.345543pt;}
.y40{bottom:418.578082pt;}
.y3{bottom:428.681346pt;}
.y33{bottom:428.757762pt;}
.yc{bottom:434.851649pt;}
.y51{bottom:436.078860pt;}
.y4f{bottom:439.545535pt;}
.y2f{bottom:444.910968pt;}
.y22{bottom:444.910988pt;}
.y15{bottom:447.819529pt;}
.y19{bottom:462.281311pt;}
.y2a{bottom:473.478882pt;}
.y32{bottom:486.412211pt;}
.y4c{bottom:493.012197pt;}
.y14{bottom:494.577655pt;}
.y21{bottom:499.377642pt;}
.y8{bottom:514.495982pt;}
.y3d{bottom:516.017512pt;}
.y4b{bottom:525.012199pt;}
.y48{bottom:534.681315pt;}
.y18{bottom:535.219528pt;}
.y2e{bottom:537.777634pt;}
.y20{bottom:537.777644pt;}
.y29{bottom:541.286209pt;}
.y3e{bottom:552.511411pt;}
.y31{bottom:554.219538pt;}
.y2d{bottom:566.577634pt;}
.y1f{bottom:566.577644pt;}
.y2{bottom:655.839747pt;}
.h8{height:78.750000pt;}
.hb{height:80.296875pt;}
.h9{height:81.984375pt;}
.h6{height:91.093750pt;}
.h4{height:107.062500pt;}
.h3{height:109.312500pt;}
.he{height:127.531250pt;}
.h2{height:133.680080pt;}
.h1{height:136.640625pt;}
.h7{height:145.750000pt;}
.h5{height:163.968750pt;}
.hc{height:182.187500pt;}
.hd{height:200.406250pt;}
.ha{height:218.625000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x20{left:24.199992pt;}
.x1a{left:55.800008pt;}
.x19{left:62.600016pt;}
.xf{left:114.883163pt;}
.x18{left:126.883163pt;}
.x3{left:133.266663pt;}
.x7{left:135.800008pt;}
.x5{left:140.886464pt;}
.x6{left:144.433334pt;}
.x1b{left:170.133331pt;}
.xd{left:184.866679pt;}
.x1f{left:229.266703pt;}
.x1e{left:239.044535pt;}
.xe{left:303.579264pt;}
.xb{left:306.779317pt;}
.x10{left:329.721690pt;}
.x4{left:374.585836pt;}
.x24{left:387.733317pt;}
.x8{left:399.912679pt;}
.x9{left:407.400065pt;}
.xc{left:425.466634pt;}
.x11{left:460.565791pt;}
.x2{left:496.712646pt;}
.x25{left:504.979329pt;}
.x12{left:520.565786pt;}
.x1c{left:539.199951pt;}
.x21{left:593.466675pt;}
.x13{left:652.505549pt;}
.x14{left:711.409841pt;}
.x1d{left:725.138000pt;}
.x22{left:738.466715pt;}
.x1{left:823.955027pt;}
.x15{left:843.349564pt;}
.x23{left:880.200033pt;}
.x16{left:902.253855pt;}
.xa{left:1042.466715pt;}
.x17{left:1069.097936pt;}
}
