.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.988281;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.728027;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.987305;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.731445;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.830566;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.980469;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:2.236439px;}
._1{width:3.396918px;}
._2{width:17.036000px;}
.fc0{color:rgb(255,255,255);}
.fc4{color:rgb(49,72,159);}
.fc1{color:rgb(255,255,0);}
.fc2{color:rgb(248,248,248);}
.fc3{color:rgb(242,242,242);}
.fsb{font-size:48.000000px;}
.fs7{font-size:60.000000px;}
.fsa{font-size:64.000000px;}
.fsd{font-size:72.000000px;}
.fsc{font-size:74.000000px;}
.fs8{font-size:80.000000px;}
.fs9{font-size:88.000000px;}
.fs4{font-size:96.000000px;}
.fse{font-size:112.000000px;}
.fs2{font-size:117.400002px;}
.fs1{font-size:120.000000px;}
.fsf{font-size:128.000000px;}
.fs5{font-size:144.000000px;}
.fs6{font-size:160.000000px;}
.fs3{font-size:176.000000px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y47{bottom:81.513134px;}
.y57{bottom:89.014637px;}
.ye{bottom:89.335267px;}
.y2b{bottom:89.405775px;}
.y29{bottom:91.605757px;}
.y49{bottom:91.860970px;}
.y2a{bottom:103.805775px;}
.y28{bottom:106.005756px;}
.y48{bottom:108.883558px;}
.y36{bottom:125.787483px;}
.y1d{bottom:127.659393px;}
.y3c{bottom:131.387489px;}
.y6{bottom:133.761330px;}
.y35{bottom:147.387482px;}
.y1c{bottom:151.659393px;}
.y3b{bottom:152.987488px;}
.y2d{bottom:165.255781px;}
.y14{bottom:166.709972px;}
.y23{bottom:166.805769px;}
.y27{bottom:167.605787px;}
.y12{bottom:167.854921px;}
.y4{bottom:169.595558px;}
.ya{bottom:169.905182px;}
.y2c{bottom:179.655781px;}
.y22{bottom:181.205769px;}
.y26{bottom:182.005787px;}
.y45{bottom:183.613110px;}
.y4e{bottom:194.259155px;}
.y52{bottom:194.359161px;}
.y4a{bottom:194.360970px;}
.y2{bottom:195.727694px;}
.y1b{bottom:199.659393px;}
.y46{bottom:210.983564px;}
.y9{bottom:214.511284px;}
.y4d{bottom:218.259157px;}
.y51{bottom:218.359163px;}
.y13{bottom:222.755413px;}
.y1a{bottom:223.659393px;}
.y11{bottom:223.926729px;}
.y34{bottom:227.337509px;}
.y40{bottom:239.847111px;}
.y1f{bottom:242.407570px;}
.y21{bottom:243.905745px;}
.y2f{bottom:244.005781px;}
.y19{bottom:247.659393px;}
.y3e{bottom:248.337502px;}
.y33{bottom:248.937508px;}
.y20{bottom:258.305744px;}
.y2e{bottom:258.405781px;}
.y1e{bottom:261.607569px;}
.y3d{bottom:269.937500px;}
.y32{bottom:270.537506px;}
.y18{bottom:271.659395px;}
.y8{bottom:274.594704px;}
.y15{bottom:276.250034px;}
.y10{bottom:277.561129px;}
.y1{bottom:278.249733px;}
.yd{bottom:278.976162px;}
.y3f{bottom:283.087954px;}
.y43{bottom:286.563137px;}
.y4b{bottom:295.660988px;}
.y56{bottom:303.059143px;}
.y54{bottom:305.659149px;}
.y44{bottom:313.933561px;}
.y7{bottom:315.311287px;}
.yb{bottom:317.194363px;}
.y31{bottom:323.105742px;}
.y16{bottom:327.032391px;}
.yf{bottom:327.047115px;}
.y55{bottom:327.059145px;}
.y53{bottom:329.659151px;}
.y17{bottom:334.601688px;}
.y30{bottom:337.505741px;}
.y3a{bottom:349.287521px;}
.y5{bottom:352.847694px;}
.y37{bottom:359.787491px;}
.y50{bottom:369.759148px;}
.yc{bottom:369.808620px;}
.y39{bottom:370.887520px;}
.y41{bottom:387.013134px;}
.y38{bottom:392.487518px;}
.y4f{bottom:393.759150px;}
.y25{bottom:399.255735px;}
.y4c{bottom:401.010986px;}
.y24{bottom:413.655735px;}
.y42{bottom:414.383558px;}
.y3{bottom:491.879810px;}
.hf{height:40.382812px;}
.ha{height:50.478516px;}
.he{height:53.843750px;}
.h10{height:59.625000px;}
.h13{height:60.574219px;}
.hc{height:67.304688px;}
.hb{height:67.460938px;}
.hd{height:74.035156px;}
.h5{height:80.765625px;}
.h6{height:80.953125px;}
.h12{height:94.226562px;}
.h3{height:98.769630px;}
.h2{height:100.957031px;}
.h7{height:103.500000px;}
.h14{height:107.687500px;}
.h8{height:114.531250px;}
.h9{height:121.148438px;}
.h11{height:134.609375px;}
.h4{height:148.070312px;}
.h1{height:181.722656px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x21{left:18.149994px;}
.x1c{left:19.550003px;}
.x1d{left:20.900002px;}
.x6{left:42.499298px;}
.x5{left:82.924179px;}
.x9{left:103.920792px;}
.x17{left:107.249989px;}
.x1{left:132.911621px;}
.x14{left:150.099979px;}
.xc{left:163.300011px;}
.x20{left:171.950027px;}
.x1f{left:179.283401px;}
.x11{left:187.284485px;}
.xa{left:207.707092px;}
.x13{left:234.799969px;}
.x16{left:239.649967px;}
.x8{left:248.534454px;}
.xb{left:279.150696px;}
.x18{left:285.649975px;}
.x25{left:290.799988px;}
.x15{left:373.649975px;}
.x3{left:378.184479px;}
.x19{left:417.299969px;}
.x22{left:445.100006px;}
.xe{left:463.394743px;}
.xd{left:509.329163px;}
.x1e{left:543.853500px;}
.x23{left:553.850037px;}
.x4{left:582.434875px;}
.x12{left:607.788551px;}
.x2{left:621.012077px;}
.x7{left:629.947655px;}
.x24{left:660.150024px;}
.x10{left:676.878967px;}
.x1a{left:677.900024px;}
.xf{left:689.668152px;}
.x1b{left:700.400024px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:2.981919pt;}
._1{width:4.529224pt;}
._2{width:22.714667pt;}
.fsb{font-size:64.000000pt;}
.fs7{font-size:80.000000pt;}
.fsa{font-size:85.333333pt;}
.fsd{font-size:96.000000pt;}
.fsc{font-size:98.666667pt;}
.fs8{font-size:106.666667pt;}
.fs9{font-size:117.333333pt;}
.fs4{font-size:128.000000pt;}
.fse{font-size:149.333333pt;}
.fs2{font-size:156.533335pt;}
.fs1{font-size:160.000000pt;}
.fsf{font-size:170.666667pt;}
.fs5{font-size:192.000000pt;}
.fs6{font-size:213.333333pt;}
.fs3{font-size:234.666667pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y47{bottom:108.684179pt;}
.y57{bottom:118.686183pt;}
.ye{bottom:119.113689pt;}
.y2b{bottom:119.207700pt;}
.y29{bottom:122.141009pt;}
.y49{bottom:122.481293pt;}
.y2a{bottom:138.407700pt;}
.y28{bottom:141.341009pt;}
.y48{bottom:145.178078pt;}
.y36{bottom:167.716644pt;}
.y1d{bottom:170.212524pt;}
.y3c{bottom:175.183319pt;}
.y6{bottom:178.348440pt;}
.y35{bottom:196.516642pt;}
.y1c{bottom:202.212524pt;}
.y3b{bottom:203.983317pt;}
.y2d{bottom:220.341042pt;}
.y14{bottom:222.279963pt;}
.y23{bottom:222.407692pt;}
.y27{bottom:223.474383pt;}
.y12{bottom:223.806562pt;}
.y4{bottom:226.127411pt;}
.ya{bottom:226.540243pt;}
.y2c{bottom:239.541041pt;}
.y22{bottom:241.607691pt;}
.y26{bottom:242.674383pt;}
.y45{bottom:244.817479pt;}
.y4e{bottom:259.012207pt;}
.y52{bottom:259.145549pt;}
.y4a{bottom:259.147959pt;}
.y2{bottom:260.970258pt;}
.y1b{bottom:266.212524pt;}
.y46{bottom:281.311419pt;}
.y9{bottom:286.015045pt;}
.y4d{bottom:291.012210pt;}
.y51{bottom:291.145551pt;}
.y13{bottom:297.007217pt;}
.y1a{bottom:298.212524pt;}
.y11{bottom:298.568972pt;}
.y34{bottom:303.116679pt;}
.y40{bottom:319.796148pt;}
.y1f{bottom:323.210093pt;}
.y21{bottom:325.207659pt;}
.y2f{bottom:325.341042pt;}
.y19{bottom:330.212524pt;}
.y3e{bottom:331.116669pt;}
.y33{bottom:331.916677pt;}
.y20{bottom:344.407659pt;}
.y2e{bottom:344.541041pt;}
.y1e{bottom:348.810092pt;}
.y3d{bottom:359.916667pt;}
.y32{bottom:360.716675pt;}
.y18{bottom:362.212527pt;}
.y8{bottom:366.126272pt;}
.y15{bottom:368.333379pt;}
.y10{bottom:370.081505pt;}
.y1{bottom:370.999644pt;}
.yd{bottom:371.968216pt;}
.y3f{bottom:377.450605pt;}
.y43{bottom:382.084183pt;}
.y4b{bottom:394.214650pt;}
.y56{bottom:404.078857pt;}
.y54{bottom:407.545532pt;}
.y44{bottom:418.578082pt;}
.y7{bottom:420.415049pt;}
.yb{bottom:422.925817pt;}
.y31{bottom:430.807655pt;}
.y16{bottom:436.043187pt;}
.yf{bottom:436.062820pt;}
.y55{bottom:436.078860pt;}
.y53{bottom:439.545535pt;}
.y17{bottom:446.135585pt;}
.y30{bottom:450.007655pt;}
.y3a{bottom:465.716695pt;}
.y5{bottom:470.463593pt;}
.y37{bottom:479.716654pt;}
.y50{bottom:493.012197pt;}
.yc{bottom:493.078161pt;}
.y39{bottom:494.516693pt;}
.y41{bottom:516.017512pt;}
.y38{bottom:523.316691pt;}
.y4f{bottom:525.012199pt;}
.y25{bottom:532.340981pt;}
.y4c{bottom:534.681315pt;}
.y24{bottom:551.540980pt;}
.y42{bottom:552.511411pt;}
.y3{bottom:655.839747pt;}
.hf{height:53.843750pt;}
.ha{height:67.304688pt;}
.he{height:71.791667pt;}
.h10{height:79.500000pt;}
.h13{height:80.765625pt;}
.hc{height:89.739583pt;}
.hb{height:89.947917pt;}
.hd{height:98.713542pt;}
.h5{height:107.687500pt;}
.h6{height:107.937500pt;}
.h12{height:125.635417pt;}
.h3{height:131.692840pt;}
.h2{height:134.609375pt;}
.h7{height:138.000000pt;}
.h14{height:143.583333pt;}
.h8{height:152.708333pt;}
.h9{height:161.531250pt;}
.h11{height:179.479167pt;}
.h4{height:197.427083pt;}
.h1{height:242.296875pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x21{left:24.199992pt;}
.x1c{left:26.066671pt;}
.x1d{left:27.866669pt;}
.x6{left:56.665731pt;}
.x5{left:110.565572pt;}
.x9{left:138.561056pt;}
.x17{left:142.999985pt;}
.x1{left:177.215495pt;}
.x14{left:200.133306pt;}
.xc{left:217.733348pt;}
.x20{left:229.266703pt;}
.x1f{left:239.044535pt;}
.x11{left:249.712646pt;}
.xa{left:276.942790pt;}
.x13{left:313.066625pt;}
.x16{left:319.533290pt;}
.x8{left:331.379272pt;}
.xb{left:372.200928pt;}
.x18{left:380.866633pt;}
.x25{left:387.733317pt;}
.x15{left:498.199966pt;}
.x3{left:504.245972pt;}
.x19{left:556.399958pt;}
.x22{left:593.466675pt;}
.xe{left:617.859657pt;}
.xd{left:679.105550pt;}
.x1e{left:725.138000pt;}
.x23{left:738.466715pt;}
.x4{left:776.579834pt;}
.x12{left:810.384735pt;}
.x2{left:828.016103pt;}
.x7{left:839.930206pt;}
.x24{left:880.200033pt;}
.x10{left:902.505290pt;}
.x1a{left:903.866699pt;}
.xf{left:919.557536pt;}
.x1b{left:933.866699pt;}
}
